*.zip
*/venv
*/sparkenv
*/.vscode
tp1.MapReduce_Hive/TP1.pdf
tp2.Spark/TP2_2021_22.pdf
tp2.Spark/ejemplos-spark
tp3/Apartado1/TP3-GalanLlanoJesus.pdf
tp3.Streaming/TP3_2021_2022.pdf
tp3.Streaming/demos
tp4.AWS/spark-bench_2.3.0_0.4.0-RELEASE_99
tp4.AWS/mykeypair.pem
tp4.AWS/TP4_2021_22.pdf
*ipynb_checkpoints
*checkpoint/
*checkpoint_state/